* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: table;
    margin: auto;
    text-align: center;
    border: 1px solid cyan;
    height: 50vh;
    width: 50%;
}
.heading {
    color: sienna;
    display: table-row;
}
.content {
    margin-top: 29px;
}
.hint {
    margin-top: 10px;
}
.score {
    margin-top: 35px;
}